@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #fefae0;
  --foreground: #283618;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}
